*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**fonts**/

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.poppins{
  font-family: "Poppins", sans-serif;
}


/**first top header**/
.top-header{
  background-color: rgba(34, 35, 53, 1);
  width: 1440px;
  padding: 10px 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.top-header-left{
  display: flex;
  align-items: center;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
}
.top-header-right, .top-header-item{
  display:flex;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 1);
}
.top-header img{
  width: 24px;
  height: 24px;
}


/**main top header**/
.main-header-content{
    padding: 28px 120px;
    margin: 0 auto;
    width: 1440px;
    background-color: rgba(5, 4, 21, 1);
    color: rgba(134, 133, 142, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu ul, .nav-menu ul li{
  display: flex;
  align-items: center;
}
.nav-menu ul{
  gap: 20px;
}
.nav-menu ul li{
  gap: 8px;
}
#active, #page-active{
  color: #fff;
}
.nav-menu ul li{
  list-style: none;
  color: rgba(134, 133, 142, 1);
}
.nav-menu ul li a{
  text-decoration: none;
  color: rgba(134, 133, 142, 1);
}
.header-actions{
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 88px;
}
.search-container i{
  position: relative;
  left: 32px;
  top: 2px;
}
.search-container input{
  padding: 10px 35px;
  border: 1px solid rgba(84, 84, 92, 1);
  outline: none;
  background-color: rgba(35, 35, 44, 1);
  border-radius: 100px;
  color: #918e8e;
}
.header-actions i{
  color: rgba(209, 208, 229, 1);
}
.active{
  color: white;
}


/**hero section**/
.hero-section{
  background-image: 
  linear-gradient(rgba(3, 1, 25, 0.67), rgba(3, 1, 25, 0.67)),
  url(./Assets/hero-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 924px;
  margin: auto;
  padding: 35px 160px 100px 160px;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* .hero-shadow{
  width: 1440px;
  height: 924px;
  background-color: ;
  position: absolute;
  top: 0;
  padding: 38px 0px 105px 0px;
} */
.hero-badge{
  padding: 6px 12px;
  background-color:rgba(35, 35, 44, 1);
  border-radius: 50px;
  display: inline-block;
  border: 1px solid rgba(84, 84, 92, 1);
  color: rgba(153, 152, 161, 1);
  margin-bottom: 4px;
}
.hero-text h1{
  font-weight: 600;
  font-size: 72px;
  line-height: 90px;
  color: rgba(206, 205, 216, 1);
  margin-bottom: 20px;
}
.button-section p{
  font-size: 16px;
  line-height: 24px;
  color: rgba(201, 199, 199, 1);
}
.button-section{
  display: flex;
  justify-content: space-between;
}
.btn{
  padding: 10px  16px;
  border-radius: 8px;
}
.shop-now{
  background-color: rgba(51, 40, 191, 1);
  border: 1px solid rgba(51, 40, 191, 1);
  color: rgba(252, 252, 252, 1);
  font-weight: 600;
  cursor: pointer;
}
.learn-more{
  background-color: rgba(35, 35, 44, 1);
  border: 1px solid rgba(84, 84, 92, 1);
  color: rgba(217, 216, 232, 1);
  cursor: pointer;
}
.hero-gallery{
  display: flex;
  gap: 32px;
}
.gallery-item {
  width: 256px;
  height: 450px;
  position: relative;
}
.gallery-item-2 img{
  position: absolute;
  bottom: 0;
}
.gallery-item img{
  width: 256px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid rgba(84, 84, 92, 1);
}

/**services section**/
.services-section{
  background: linear-gradient(270deg, #262637 0%, #323041 49.04%, #312F40 100%);
  max-width: 1440px;
  margin: auto;
  padding: 100px 160px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.services-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  /* margin-bottom: 50px; */
}
.services-header h2{
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  width: 50%;
  color: rgba(228, 228, 239, 1);
}
.services-header p{
  font-weight: 400;
  font-size: 16px;
  width: 50%;
  color: rgba(142, 141, 148, 1);
}
.service-card, .service-card-content{
  display: flex;
  flex-direction: column;
}
.service-card{
  width: 352px;
  height: 488px;
  border: 01px solid rgba(214, 214, 214, 1);
  border-radius: 20px;
  padding: 24px;
  gap: 20px;
}
.service-card img{
  width: 304px;
  height: 300px;
  border-radius: 20px;
}
.service-card-content{
  text-align: center;
  gap: 8px;
}
.service-card-content h3{
  font-weight: 500;
  font-size: 24px;
  color: rgba(228, 228, 239, 1);
}
.service-card-content p{
  font-size: 16px;
  color: rgba(142, 141, 148, 1);
}
.service-flex-card{
  width: 1120px;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: auto;
}
.view-all-btn{
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}
.view-button{
  padding: 10px 16px;
  border-radius: 8px;
  color: rgba(252, 252, 252, 1);
  border: none;
  outline: none;
  background-color:rgba(51, 40, 191, 1);
}

/**feature-section**/
.feature-section{
  width: 1440px;
  padding: 105px 140px;
  background: linear-gradient(270deg, #272637 0%, #323040 48.14%, #333141 71.97%, #302F40 99.13%);
  margin: auto;
}
.feature-image{
  width: 256px;
  height: 410px;
}
.feature-card{
  display: flex;
  align-items: center;
  gap: 32px;
  width: 544px;
  position: relative;
}
.feature-image img{
  width: 256px;
  height: 360px;
  border-radius: 20px;
}
.f1 img{
  position: absolute;
  bottom: 0;
}
.feature-container{
  padding: 20px;
  border: 2px solid #45444A;
  border-radius: 20px;
  display: flex;
  gap: 32px;
  box-shadow: 0px 0px 100px 0px #0B0B0FA6;
;
}
.feature-header h6{
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}
.feature-header h2{
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #CECDD8;
}
.explore{
  font-size: 20px;
  color: #7D7D82;
}
.feature-item i{
  color: #fff;
}
.Features, .feature-item-wrapper, .feature-header{
  display: flex;
  flex-direction: column;
}
.Features{
  gap: 24px;
}
.feature-item-wrapper{
  gap: 16px;
}
.feature-header{
  gap: 8px;
}


/**About section**/
.About-section{
  width: 1440px;
  margin: auto;
  padding: 80px 140px;
  background: linear-gradient(270deg, #272637 0%, #323040 46.15%, #313040 100%);
}
.about-content{
  padding: 20px;
  border: 2px solid #45444A;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 0px #0B0B0FA6;
  gap: 32px;
}
.about-content, .about-descript, .para-des{
  display: flex;
  align-items: flex-start;
}
.about-descript{
  flex-direction: column;
  gap: 32px;
}
.para-des{
  flex-direction: column;
  gap: 20px;
}
.about-paragraph{
  font-weight: 400;
  font-size: 16px;
  color: #888997;
}
.about-header h2{
  font-weight: 500;
  font-size: 48px;
  color: #CCCDE0;
}


/**milestones section**/
.milestones-section{
  width: 1440px;
  margin: 0 auto;
}
.milestones-tracking{
  width: 100%;
  height: 312px;
  background-image: linear-gradient(#121117B0), url(./Assets/milestone-tracking.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 60px 0px;
  text-align: center;
}
.stats-container{
  width: 100%;
  height: 260px;
  padding: 55px 160px 100px;
  background-color: #222335;
  text-align: center;
}
.milestones-tracking h6{
  font-weight: 500;
  font-size: 14px;
  color: #FCFCFC;
}
.milestones-main-heading{
  margin-bottom: 20px;
}
.milestones-tracking h2{
  color: #fff;
  font-weight: 500;
  font-size: 48px;
}
.milestones-tracking p{
  color: #FCFCFC;
  font-weight: 400;
  font-size: 16px;
}
.stats-itmes{
  width: 250px;
  height: 100px;
}
.divider{
  height: 100px;
  width: 1px;
  /* border: 1px solid #9391AD; */
  background-color: #9391AD;
}
.stats-number span{
  font-weight: 500;
  font-size: 48px;
  color: #888991;
}
.stats-itmes p{
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #B3B4C8;
}
.stats-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/**action section **/
.action-hero-section{
  background-image: url(./Assets/action-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  margin: 0 auto;
  padding: 100px 0;

}
.action-header h6{
  font-weight: 500;
  font-size: 14px;
  color: #FCFCFC;
  text-align: center;
}
.action-header h2{
  font-weight: 500;
  font-size: 48px;
  color: #fff;
  text-align: center;
  padding: 4px 0px 20px ;
}
.action-header p{
  color: #FCFCFC;
  text-align: center;
}
.action-button-group{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
}
.btn-learn-color{
  background-color: #FCFCFC;
  color: #0D0D0D;
  font-weight: 600;
}


/** pricing plan **/
.pricing-section{
  width: 1440px;
  background-color: #222335;
  padding: 100px 119.5px;
  margin: 0 auto;
}
.price-plan-card{
  width: 352px;
  height: 546px;
  padding: 28px 24px;
  border: 2px solid #54545C;
  border-radius: 20px;
}
.pricing-content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card-content, .exclusive-features{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
}
.exclusive-features{
  gap: 16px;
}
.pricing-div-table{
  padding: 6px 12px;
  background-color: #23232C;
  border: 1px solid #54545C;
  border-radius: 50px;
  display: inline-block;
  color: #D9D8E8;
}
.pricing-header{
  text-align: center;
}
.pricing-header h2{
  font-weight: 500;
  font-size: 48px;
  color: #D8D9E4;
  padding-top: 4px;
}
.price-header{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 116px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #54545C;
}
.price-header h6{
  font-weight: 500;
  font-size: 24px;
  color: #CFD0D8;
}
.main-price .price{
  font-weight: 500;
  font-size: 48px;
  color: #CFD0D8;
}
.main-price .month{
  color: #CFD0D8;
}
.price-plan-card p{
  color: #626269;
  line-height: 24px;
}
.main-features i{
  color: #CFD0D8 ;
}
.main-features span{
  font-weight: 500;
  font-size: 16px;
  color: #CFD0D8;
}
.get-started-btn{
  padding: 16px 22px ;
  width: 304px;
  color: #FCFCFC;
  background-color: #2F2F3A;
  border-radius: 100px;
  border: 1px solid #54545C;
}
.price-plan{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}
.main-features{
  display: flex;
  gap: 15px;
}

.extra-large-card{
  padding: 64px 26px;
  width: 433px ;
  height: 602px;
}
.extra-large-btn{
  width: 381px;
  padding: 16px 22px;
  background-color:#3328BF ;
}

/**footer section**/
.payment-method{
  width: 1440px;
  background-color: #42434A;
  padding: 70px 145px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}
.all-payment-process{
  display: flex;
  align-items: center;
  gap: 8px;
}
.flexible-payment{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.cart i{
  font-size: 40px;
  color: #CFD0DD;
}
.payment-header
.online-support{
  font-weight: 500;
  font-size: 24px;
  color: #CFD0DD;
}
.payment-header p{
  color: #8A8A8A;
}
.join-newslatter h4{
  font-weight: 500;
  font-size: 30px;
  color: #CFD0DD;
  padding-bottom: 20px;
}
.pages-social-media{
  display: flex;
  align-items: center;
  gap: 123px;
  width: 1150px;
  height: 206px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 440px;
}

.form i {
    font-size: 20px;
    color: #8A8A8A;
}

.form input[type="email"] {
    padding: 12px 16px 12px 0px;
    border: none;
    flex: 1;
    min-width: 223px;
    outline: none;
    transition: border 0.3s;
}

.form input[type="email"]:focus {
    border-color: #4E47FF;
}

.form input[type="button"] {
    background-color: #3328BF;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.form input[type="button"]:hover {
    background-color: #372EFF;
    transform: scale(1.05);
}

.media-section{
  display: flex;
  gap: 120px;
}
.page-header{
  font-weight: 600;
  font-size: 20px;
  color: #CFD0DD;
  margin-bottom: 20px;
}
.all-page ul{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.all-page ul li{
  list-style: none;
}
.all-page ul li a{
  text-decoration: none;
  color: #8A8A8A;
}
.logo-img img{
  width: 135.11px;
  height: 60.17px;
  margin-bottom: 24px;
}
.copyright-section{
  width: 1440px;
  padding: 24px 160px;
  background-color: #6F717E;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-method-logo{
  display: flex;
  align-items: center;
  gap: 12px;
}
.world-pay{
  padding: 9px 18px;
  background-color: #ACADC8;
  border-radius: 4px;
  width: 100px;
  height: 40px;
}
.world-pay img{
  width: 100%;
  height: 100%;
}
 


